body{
background-image: url("pics/iamge.jpg");
background-repeat: no-repeat;
font-family: arial;
}
h1{
font-family: helvetica 18px red;
}
p{
font-size: 16px;
color: orange;
}
a{text-decoration: none;}

a:hover{
color: green;
font-size: 12px;
}
a:visited{
background-color: white;
color: black;}

